.card-container {
  height: 300px;
  width: 300px;
  margin: 50px 50px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;

  &:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 20px #ccc;
  }

  .content {
    height: 100%;
    width: 100%;
    margin-top: 2rem;

    .title {
      color: #ffffff;
      font-weight: 200;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      word-spacing: 5px;
    }
    .desc {
      color: #aeaeae;
      margin-top: 30px;
      font-weight: 200;
      font-size: 0.8rem;
      text-transform: capitalize;
      letter-spacing: 2px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 20px;
    }
  }
}
