.traffic-container {
  background-color: #000;
  // border-radius: 20px;
  box-sizing: border-box;
  height: 340px;
  padding: 20px;
  width: 320px;
  border: 1px solid #ddd;

  .traffic-container_box {
    height: 40px;
    width: 100%;
    margin: 30px 0;
    background-color: #0f1113;
    display: flex;
    align-items: center;
    justify-content: center;

    .traffic-container_box__title {
      font-size: 16px;
      color: #ddd;

      span {
        text-transform: uppercase;
        color: orange;
      }
    }
  }
}

.text-box {
  margin-bottom: 20px;
  width: 330px;
  .text-box-content {
    margin-bottom: 20px;
    color: #ddd;
    letter-spacing: 1px;
    font-size: 1rem;
    font-style: italic;
  }
}
