.particle-container {
  background-image: url("../../assests/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;

  .content {
    color: #ebe1e1;
    font-size: 50px;
    width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
  }
}
