.particle-container {
  background-image: url("../../assests/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .content {
    color: #ebe1e1;
    font-size: 50px;
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
  }
}
